@import "../common/variables.scss";
@import "../common/mixins.scss";

.photo {
	border: 1px solid $platinum;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 30rem 1fr;
	grid-template-rows: repear(4, 1fr);
	grid-template-areas:
		"main side1"
		"main side2"
		"main side3"
		"main side4";

	&--none {
		border: 1px solid $platinum;
		border-radius: 0.5rem;
	}

	&__container {
		width: 100%;
		height: 100%;
		position: relative;
		grid-area: photo;
		padding: $grid-container-padding;
	}

	&__main {
		width: 100%;
		height: 100%;
		grid-area: main;
	}
	&__side1 {
		width: 100%;
		height: 100%;
		grid-area: side1;
	}

	&__side2 {
		grid-area: side2;
	}

	&__side3 {
		grid-area: side3;
	}

	&__side4 {
		grid-area: side4;
	}

	&__input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;

		&:focus + .photo__trigger,
		& + .photo__trigger:hover {
			// outline: 1px dotted #000;
			// outline: -webkit-focus-ring-color auto 1px;
			background-color: rgba($primary-light-40, 0.7);
		}
	}

	&__trigger {
		cursor: pointer;
		font-size: 1.4rem;
		border-radius: 0.4rem;
		padding: 0.7rem;
		text-align: center;
		vertical-align: center;
		color: $white;
		box-shadow: 0.1rem 0.1rem 0.2rem $shadow-inactive;
		background-color: rgba($primary-light-20, 0.7);

		&--absent {
			@extend .photo__trigger;
			@extend .absolute-center;
		}

		&--present {
			@extend .photo__trigger;
			position: absolute;
			top: 2rem;
			left: 2rem;
		}
	}

	&__caption {
		@extend .absolute-center;
		padding: 0.4rem;
		font-size: 1.4rem;
		font-weight: bold;
		color: $white;
		background-color: rgba(black, 0.5);
		cursor: pointer;
	}

	&__toolkit {
		position: absolute;
		left: $label-left-offset;
		top: -1rem;
		font-size: 1.2rem;
		color: $danger-light-10;
	}
}
