.products {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

  &__product {
    margin: 1rem;
  }

  &__container {
    padding: 1rem;
    @extend .flex-center;
    flex-direction: column;
    grid-area: view;
  }
}
